body {
  background: white;
  text-align: center;
  font-family: Helvetica;
  color: black;
}
.header {
  background-image: url("./resources/images/the-flatiron-building.png");
  background-position: center top;
  background-size: 100%;
}
p{
  font-size: 14px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
footer p {
  background: dimgray;
  font-size: 11px;
  color: white;
}
