body {
  background: white;
  text-align: center;
  font-family: Helvetica;
  color: black;
}
.header {
	background-image: url(../images/the-flatiron-building.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
ul {
  list-style-type: none;
  color: white;
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
}
li a {
  display: block;
  padding: 0.5em 0;
  color: white;
}
p{
  font-size: 14px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
.newyork {
  background-image: url(../images/the-flatiron-building.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.newyork h3 {
  color: white;
}
footer p, footer a {
  text-align: left;
  background: dimgray;
  font-size: 11px;
  color: white;
}
